
<div md-dialog-content>Are you sure you want to archive this content?</div>
<div class="cx-margin-base">
    <div md-dialog-actions>
        <div class="cx-w100 cx-text-align-center">
            <button md-button class="cx-button-cancel" md-dialog-close="false" tabindex="-1">Cancel</button>
            <!-- Can optionally provide a result for the closing dialog. -->
            <button md-button class="cx-button-action" md-dialog-close="true" tabindex="-1">Yes</button>
        </div>
    </div>
</div>
