.cx-client-add {
    padding: 0;
}

.cx-client-view-right {
    padding:5px 0;
}

.cx-client-view-title {
    padding: 3px 0;
}

.new-client-sub-header {
    margin-left: -30px;
    margin-top: 30px;
    width: 105%;
}
