<div class="container cx-login-container cx-mt100">
 
    <div class="col-lg-12 pull-left cx-logo-container">
        <ul class="cx-header-ul">
            <li class="cx-header-li raytheon-logo">&nbsp;</li>
            <li class="cx-header-li cx-header-logo">Content E<b class="cx-logo-accent">x</b>change</li>
            <li class="cx-header-li cx-header-um"></li>
        </ul>
    </div>

    <div class="col-sm-8 col-sm-offset-2">
        <!--alert container-->
        <div class="col-md-12 col-md-offset-0">
            <alert></alert>
        </div>

        <div class="col-md-12">
            <h2 class="cx-login-title">Sign in</h2>
            <div class="col-md-8 col-md-offset-2">
                <p class="cx-login-copy">Hello there, welcome to the content exchange. Sign in to begin managing content. </p>
            </div>
        </div>

        <div class="col-md-6 col-md-offset-3">
            <form name="form" (ngSubmit)="login(loginForm)" [formGroup]="loginForm" novalidate>
                <md-input-container class="cx-w100">
                    <input mdInput type="text" placeholder="Username" formControlName="username" name="username" autofocus>
                    <md-error class="cx-error-required"></md-error>
                </md-input-container>
                <md-input-container class="cx-w100">
                    <input mdInput type="password" placeholder="Password" formControlName="password" name="password" autofocus>
                    <md-error class="cx-error-required"></md-error>
                </md-input-container>
                <div class="form-group pull-right">
                    <button md-button  class="cx-button-action" [disabled]="loginForm.invalid">Sign in</button>
                    <img *ngIf="loading" src="../../assets/images/loading.gif" />
                </div>
            </form>
        </div>

        <div class="col-md-10 col-md-offset-4">
            <a (click)="showHelp()" class="btn cx-forgot-password">Forgot Password?</a>
        </div>
    </div>

</div>