<table class="cx-admin-table">
    <tr>
        <td class="cx-main-admin-menu-container">
            <ul class="cx-admin-menu" role="menu">
                <li role="menuitem">
                    <a id="linkAccounts" routerLink="accounts" class="cx-link-admin" routerLinkActive="cx-link-active">
                        Accounts
                    </a>

                </li>
                <li role="menuitem">
                    <a routerLink="attack_phases" class="cx-link-admin" routerLinkActive="cx-link-active">
                        Attack Phases
                    </a>
                </li>
                Dependencies
                <ul class="cx-admin-sub-menu" role="menu">
                    <li role="menuitem">
                            <a routerLink="custom_inputs" class="cx-link-admin" routerLinkActive="cx-link-active">
                                Custom
                            </a>
                    </li>
                    <li role="menuitem">
                            <a routerLink="logs" class="cx-link-admin" routerLinkActive="cx-link-active">
                                Logs
                            </a>
                    </li>
                    <li role="menuitem">
                            <a routerLink="packets" class="cx-link-admin" routerLinkActive="cx-link-active">
                                Packets
                            </a>
                    </li>
                </ul>
                <li role="menuitem">
                    <a routerLink="platforms" class="cx-link-admin" routerLinkActive="cx-link-active">
                        Platforms
                    </a>
                </li>
                <li role="menuitem">
                    <a routerLink="protocols" class="cx-link-admin" routerLinkActive="cx-link-active">
                        Protocols
                    </a>
                </li>
                <li role="menuitem">
                    <a routerLink="settings" class="cx-link-admin" routerLinkActive="cx-link-active">
                        Settings
                    </a>
                </li>
                <li role="menuitem">
                    <a routerLink="threat_actors" class="cx-link-admin" routerLinkActive="cx-link-active">
                        Threat Actors
                    </a>
                </li>
                <li role="menuitem">
                    <a routerLink="threat_categories" class="cx-link-admin" routerLinkActive="cx-link-active">
                        Threat Categories
                    </a>
                </li>
            </ul>
        </td>
        <td class="cx-admin-content-container">
            <div class="cx-admin-sub-header">
                <span  id="admin-title" class="cx-admin-sub-header-title"></span>
                </div>
            <div class="cx-admin-sub-content-container">
                <router-outlet></router-outlet>
            </div>
        </td>
    </tr>
</table>
