<button md-raised-button [mdMenuTriggerFor]="menu" class="cx-button-action cx-dash-actions">Actions<i class="material-icons cx-icon-down-arrow">keyboard_arrow_down</i></button>
<md-menu #menu="mdMenu">
    <button md-menu-item class="cx-color-primary">Port</button>
    <button md-menu-item class="cx-color-primary">Revise</button>
    <button md-menu-item class="cx-color-primary">Deploy</button>
    <button md-menu-item class="cx-color-primary">Recall</button>
</md-menu>
<span class="cx-label cx-label-large cx-dash-legend"><span class="cx-color-action">&#9673;</span>&nbsp;Associated Content Items</span>

