@import '../../assets/css/modules/fonts';
@import '../../assets/css/modules/colors';
@import '../../assets/css/modules/margins';

.cx-dash-actions {
    //positioning the actions button in the dashboard
    float: right;
    padding-right: 0;
    position: relative;
    z-index: 10;
}

.cx-dash-actions-bottom-left {
    background-color: $color-primary-background;
    border-right:1px solid $color-primary-border;
    border-top:1px solid $color-primary-border;
    float:left;
    text-align: center;
    width: 125px;
}

.cx-dash-actions-bottom-right {
    background-color: $color-primary-background;
    border-top: 1px solid $color-primary-border;
    float: left;
    text-align: center;
    width: 125px;
}

.cx-dash-legend {
    float: right;
    margin-right: $margin-base;
}

.cx-dash-menu {
    float: left;
    position: relative;
    top:-25px;
}

.cx-dash-stage {
    float: left;
    margin: $margin-base $margin-large $margin-large 0;
    width: 250px;
}

.cx-dash-stage-card {
    padding: $margin-xlarge;
    border:1px solid $color-primary-border;
    border-left: 3px solid $color-primary;
    font-size: $font-size-small;
    border-top: 0;
}

.cx-dash-stage-card-action {
    padding: $margin-xlarge;
    border:1px solid $color-primary-border;
    border-left: 3px solid $color-primary-action;
    font-size: $font-size-small;
    border-top: 0;
}

.cx-dash-stage-card-title {
    font-size: $font-size-small;
    font-family: $font-family-medium !important;
}

.cx-dash-stage-header {
    color: $color-primary-background;
    font-family: $font-family-primary;
    padding: $margin-xlarge;
    background: $color-primary;
    width: 100%;
}
