<app-modal>
    <div modal-header>
        <h3 class="cx-modal-header-left">Client Subscription</h3>
        <h3 class="cx-modal-header-center">
            {{ user?.first_name }} {{ user?.last_name }}
        </h3>
    </div>
    <div modal-body>
        <alert></alert>
        <table class="cx-table-edit">
            <thead>
                <th class="cx-modal-header cx-modal-border">Clients Available</th>
                <th class="cx-modal-header">Clients Subscribed</th>
            </thead>
            <tr>
                <td class="cx-modal-cont cx-modal-border">
                    <div [dragula]='"clients"' [dragulaModel]='clientsAvailable' class="cx-modal-pool">&nbsp;
                        <div class="cx-modal-item" *ngFor="let client of clientsAvailable" id="{{ client }}" [attr.data-id]="client">
                            {{ client.name }}
                        </div>
                    </div>
                </td>
                <td class="cx-modal-cont">&nbsp;
                    <div [dragula]='"clients"' [dragulaModel]='clientsAssigned' class="cx-modal-assigned">
                        <div class="cx-modal-item" *ngFor="let client of clientsAssigned" id="{{ client }}" [attr.data-id]="client">
                            {{ client.name }}
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div modal-footer>
        <div class="col-md-12">
            <div class="form-group pull-right">
                <button md-button class="cx-button-cancel" (click)="closeModal()">Cancel</button>
                <button md-button (click)="onSave()" class="cx-button-action">Update</button>
            </div>
        </div>
    </div>
</app-modal>
