<div class="container-fluid cx-sub-header" >
    <div class="cx-sub-header-title">My Dashboard</div>
    <div class="cx-sub-header-right"></div>
</div>

<div class="container-fluid cx-container-form">
    <alert></alert>
    <div *ngIf="userMessage; else showMenu">{{ userMessage }}</div>
    <ng-template #showMenu>
        <span style="visibility: hidden;"><cnx-dashboard-actions></cnx-dashboard-actions></span>
        <div><cnx-dashboard-menu></cnx-dashboard-menu></div>
    </ng-template>
</div>


